html {
	scroll-behavior: smooth;
}

body {
	background: #FFC3A1;
	color: white;

}

.webpage-body {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.dropdown {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 9999;
}

.dropdown button {
	background: gold;
	color: red;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	border: 2px solid red;
	border-radius: 8px;
	box-shadow:0 0 15px black;
	font-size: 15px;
}

.dropdown a {
	display: block;
	color: red;
	background-color: gold;
	text-decoration: none;
	padding: 10px 10px;
}

.dropdown .content {
	display: block;
	opacity: 0;
	transform: translateY(-8px);
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease;
	position: absolute;
	background-color: gold;
	min-width: 140px;
	z-index: 1000;
}

.dropdown:hover .content {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
	pointer-events: auto;
	transition: all 0.3s ease;
	border: 1px solid gold;
	border-radius: 4px;
}

.dropdown:hover button {
	background-color: red;
	color: gold;
	font-weight: 850;
	border: 2px solid #00ff99;
	box-shadow: 0 0 20px #00ff99;
	transform: scale(1.05);
	transition: all 0.3s ease;
	cursor: pointer;
}

.dropdown a:hover {
	background-color: red;
	color: gold;
	transition: all 0.3s ease;
}





/*Main title*/
.top-container {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border-radius: 32px;
	background: #FF9F7D;
	padding: 48px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.top-container h1 {
	font-size: 70px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	animation: float 5s ease-in-out infinite;
	font-family: "Pacifico", cursive;
} 

@keyframes float{
	0%, 100% {transform: translateY(5px);}
	50% { transform: translateY(-5px);}
 }

.sub-header {
	display: flex;
	justify-content: center;
	border: 4px solid white;
	border-radius: 16px;
}

.sub-header h2 {
	margin: 16px;
	font-size: 35px;
	font-weight: 850;	
	color: white;
	font-family: "Pacifico", cursive;
}





/*Biography*/
.bio-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #E6A1A1;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.bio-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
}

.bio-container p {
	font-size: 35px;
	font-family: "Pacifico", cursive;
	border: 4px solid white;
	border-radius: 16px;
	padding: 8px;
}





/*Resume*/
.resume-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #E6B8FF;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.resume-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
}

.resume-container img {
	border: 4px solid white;
	border-radius: 12px;
	width: 1200px;
	height: auto;
	margin: 64px;
}





.personal-projects-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #A1D4D2;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.personal-projects-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
}

/* switch to grid dipslay ??? */
.projects-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.projects-grid img {
	width: 340px;
	height: 340px;
	border-radius: 32px;
	border: 4px solid white;
}

.projects-grid button {
	padding: 16px;
	margin: 24px;
	border-radius: 16px;
	border: 4px white solid;
	font-weight: bold;
	background: white;
}

.projects-grid button:hover {
	transform: scale(1.10);
	background: white;
	transition: all 0.3s ease;
	border: 4px red solid;
	color: red;
	cursor: pointer;
}

.projects-grid div {
	margin: 32px;
	background: white;
}

.projects-grid h3 {
	font-size: 30px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
	border-radius: 64px;
	background: black;
	padding: 24px;
}

.project0 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.project1 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project2 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project3 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project4 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project5 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}





/*Contact Form*/
.contact-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #DAABDE;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
	width: 1350px;
}

.contact-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
}

.message-grid {
	display: flex;
	flex-direction: column;	
}

.message-grid input  {
	width: 100%;
	max-width: 400px;
	margin: 16px;
	padding: 16px;
	font-family: "Roboto Mono", monospace;
	border-radius: 16px;
	border: 4px solid white;
	transition: .3s ease;
}

.message-grid textarea  {
	width: 100%;
	max-width: 800px;
	margin: 16px;
	padding: 16px;
	font-family: "Roboto Mono", monospace;
	border-radius: 16px;
	border: 4px solid white;

}

.message-grid button {
	width: 100%;
	max-width: 75px;
	margin: 16px;
	padding: 16px;
	border-radius: 16px;
	border: 4px solid white;
	background: white;
	font-family: "Roboto Mono", monospace;
	cursor: pointer;
}

.message-grid input:hover {
	border: 4px solid black;
}

.message-grid textarea:hover {
	border: 4px solid black;
}

.message-grid button:hover {
	border: 4px solid black;
}





/*Social Media Links*/
.social-media-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #D9C59A;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
	width: 1350px;
}

.social-media-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
}

.socials-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.socials-grid h3 {
	font-size: 30px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
	border-radius: 64px;
	background: black;
	padding: 24px;
}

.socials-grid div {
	margin:24px;
	padding:24px;
	background: white;
}

.socials-grid img {
	width: 100px;
	height: auto;
	border-radius: 24px;
	margin: 8px;
}

.socials-grid button {
	padding: 16px;
	margin: 24px;
	border-radius: 16px;
	border: 4px white solid;
	font-weight: bold;
	background: white;
}

.socials-grid button:hover {
	transform: scale(1.10);
	background: white;
	transition: all 0.3s ease;
	border: 4px red solid;
	color: red;
	cursor: pointer;
}

.socials0 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.socials1 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.socials2 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.socials3 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}






