body {
	background: black;
	color: white;
	dipslay: flex;
	justify-content: center;
	align-items: center;
}

.webpage-body {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 64px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.top-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
	z-index: 1;
	border-radius: 32px;
	background: #6900cc;
	padding: 48px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 1px solid pink;
}

.dropdown {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 9999;
}

.dropdown button {
	background: gold;
	color: red;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	border: 2px solid red;
	border-radius: 8px;
	box-shadow:0 0 15px black;
	font-size: 15px
}

.dropdown a {
	display: block;
	color: red;
	background-color: gold;
	text-decoration: none;
	padding: 10px 10px;
}

.dropdown .content {
	display: block;
	opacity: 0;
	tranform: translateY(-8px);
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease;
	position: absolute;
	background-color: gold;
	min-width: 140px;
	z-index: 1000;
}

.dropdown:hover .content {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
	pointer-events: auto;
	transition: all 0.3s ease;
	border: 1px solid gold;
	border-radius: 4px;
}

.dropdown:hover button {
	background-color: red;
	color: gold;
	font-weight: 850;
	border: 2px solid #00ff99;
	box-shadow: 0 0 20px #00ff99;
	transform: scale(1.05);
	transition: all 0.3s ease;
}

.dropdown a:hover {
	background-color: red;
	color: gold;
	transition: all 0.3s ease;
}

.photo-frame0 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid white;
	box-shadow: 
	    4px 4px 2px gold,
	    8px 8px 2px #cc0066,
	    12px 12px 2px #00ff99,
	    8px 8px 16px black;
}

.photo-frame0 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.main-header {
	background: #6900cc;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-text: center;
	border-radius: 8px
}

.main-header h1 {
	font-size: 70px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	animation: float 5s ease-in-out infinite;
	font-family: "Pacifico", cursive;
} 

@keyframes float{
	0%, 100% {transform: translateY(5px);}
	50% { transform: translateY(-15px);}
 }

.sub-header {
	display: flex;
	justify-content: center;
	border: 1px solid white;
	border-radius: 16px;
}

.sub-header h2 {
	margin: 16px;
	font-size: 25px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    2px 2px 0 red,
	    4px 4px 0 #00ff99;
	font-family: "Pacifico", cursive;
}

.photo-frame1 {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid white;
	box-shadow: 
	    4px 4px 2px gold,
	    8px 8px 2px #cc0066,
	    12px 12px 2px #00ff99,
	    8px 8px 16px black;
}

.photo-frame1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.personal-projects-section {
	border-radius: 32px;
	margin-top: 75px;
	background: #6900cc;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
}

.personal-projects-section h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
}

/* switch to grid dipslay ??? */
.projects-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.projects-grid img {
	width: 300px;
	height: 300px;
}

.project0 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project1 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project2 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project3 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project4 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project5 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.social-media-section {
	border-radius: 32px;
	margin-top: 75px;
	background: #6900cc; 
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
}

.social-media-section h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;font-family: "Pacifico", cursive;
}

.socials-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.socials0 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px
}

.socials1 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.socials2 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.socials3 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}
