body {
	background: black;
	color: white;
	dipslay: flex;
	justify-content: center;
	align-items: center;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.top-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	position: relative;
}

.dropdown {
	position: absolute;
	top: 10px;
	left: 10px;
}

.dropdown button {
	background: gold;
	color: red;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	border: 1px solid red;
	border-radius: 4px
}

.dropdown a {
	display: block;
	color: red;
	background-color: gold;
	text-decoration: none;
	padding: 10px 10px;
}

.dropdown .content {
	display: block;
	opacity: 0;
	tranform: translateY(-8px);
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease;
	position: absolute;
	background-color: gold;
	min-width: 140px;
}

.dropdown:hover .content {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
	pointer-events: auto;
	transition: all 0.3s ease;
	border: 1px solid gold;
	border-radius: 4px;
}

.dropdown:hover button {
	background-color: red;
	color: gold;
	font-weight: 850;
	border: 1px solid gold;
	transform: scale(1.05);
	transition: all 0.3s ease;
}

.dropdown a:hover {
	background-color: red;
	color: gold;
	transition: all 0.3s ease;
}

.main-header {
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-text: center;
	border: 1px solid white;
	border-radius: 8px
}

.main-header h1 {
	border: 1px solid white;
	font-size: 65px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    0 2px 0 red,
	    0 4px 0 red,
	    3px 6px 3px red,
	    0 6px 10px rgba(0,0,0,1);
	animation: float 3s ease-in-out infinite;
	font-family: "Pacifico", cursive;
} 

@keyframes float{
	0%, 100% {transform: translateY(15px);}
	50% { transform: translateY(-15px);}
 }

.sub-header {
	display: flex;
	justify-content: center;
	border: 1px solid white;
	border-radius: 16px;
}

.sub-header h2 {
	margin: 16px;
	font-size: 25px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    0 1px 0 red,
	    0 2px 0 red,
	    0 3px 0 red,
	    0 6px 10px rgba(0,0,0,1);
	font-family: "Pacifico", cursive;
}

.photo-frame {
	width: 220px;
	height: 220px;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid white;
}

.photo-frame img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.personal-projects-section {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.personal-projects-section h1 {
	font-size: 50px;
	font-weight: 700px;
	color: white;
}

.project0 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.project1 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.project2 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.social-media-section {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.social-media-section h1 {
	font-size: 50px;
	font-weight: 700px;
	color: white
}

.socials0 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px
}

.socials1 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}


