body {
	background: #FFD6FF;
	color: white;

}

.webpage-body {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.dropdown {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 9999;
}

.dropdown button {
	background: gold;
	color: red;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	border: 2px solid red;
	border-radius: 8px;
	box-shadow:0 0 15px black;
	font-size: 15px
}

.dropdown a {
	display: block;
	color: red;
	background-color: gold;
	text-decoration: none;
	padding: 10px 10px;
}

.dropdown .content {
	display: block;
	opacity: 0;
	transform: translateY(-8px);
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease;
	position: absolute;
	background-color: gold;
	min-width: 140px;
	z-index: 1000;
}

.dropdown:hover .content {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
	pointer-events: auto;
	transition: all 0.3s ease;
	border: 1px solid gold;
	border-radius: 4px;
}

.dropdown:hover button {
	background-color: red;
	color: gold;
	font-weight: 850;
	border: 2px solid #00ff99;
	box-shadow: 0 0 20px #00ff99;
	transform: scale(1.05);
	transition: all 0.3s ease;
}

.dropdown a:hover {
	background-color: red;
	color: gold;
	transition: all 0.3s ease;
}





/*Main title*/
.top-container {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 1;
	border-radius: 32px;
	background: #BF72F0;
	padding: 48px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.main-header {
	background: #BF72F0;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-text: center;
	border-radius: 8px
}

.main-header h1 {
	font-size: 70px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	animation: float 5s ease-in-out infinite;
	font-family: "Pacifico", cursive;
} 

@keyframes float{
	0%, 100% {transform: translateY(5px);}
	50% { transform: translateY(-5px);}
 }

.sub-header {
	display: flex;
	justify-content: center;
	border: 4px solid white;
	border-radius: 16px;
}

.sub-header h2 {
	margin: 16px;
	font-size: 25px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    2px 2px 0 red,
	    4px 4px 0 #00ff99;
	font-family: "Pacifico", cursive;
}





/*Biography*/
.bio-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #BF72F0;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.bio-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;font-family: "Pacifico", cursive;
}

.bio-container p {
	font-size: 28px;
}





/*Resume*/
.resume-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #BF72F0;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.resume-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;font-family: "Pacifico", cursive;
}

.resume-container img {
	border: 4px solid black;
	border-radius: 32px;
	width: 1200px;
	height: auto;
	margin: 64px;
}





.personal-projects-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #BF72F0;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.personal-projects-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;
	font-family: "Pacifico", cursive;
}

/* switch to grid dipslay ??? */
.projects-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.projects-grid img {
	width: 340px;
	height: 340px;
	border-radius: 32px;
	border: 4px solid white;
}

.projects-grid button {
	padding: 16px;
	margin: 24px;
	border-radius: 16px;
	border: 4px black solid;
	font-weight: bold;
	background: indianred;
}

.projects-grid button:hover {
	transform: scale(1.10);
	background: white;
	transition: all 0.3s ease;
	border: 4px red solid;
	color: red;
}

.projects-grid div {
	margin: 32px;
}

.projects-grid h3 {
	font-size: 30px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    2px 2px 0 red,
	    4px 4px 0 #00ff99;
	font-family: "Pacifico", cursive;
}

.project0 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.project1 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project2 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project3 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project4 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project5 {
	border: 4px solid white;
	padding: 8px;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}





/*Social Media Links*/
.social-media-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #BF72F0;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.social-media-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;font-family: "Pacifico", cursive;
}

.socials-grid {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.socials0 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px
}

.socials1 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.socials2 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.socials3 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}




/*Contact Form*/
.contact-container {
	border-radius: 32px;
	margin-top: 75px;
	background: #BF72F0;
	padding: 24px;
	box-shadow:
	    8px 3px 2px gold,
	    16px 6px 2px #cc0066,
	    24px 9px 2px #00ff99;
	border: 4px solid white;
}

.contact-container h1 {
	font-size: 50px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    4px 8px 2px #cc0066,
	    8px 12px 2px #00ff99;font-family: "Pacifico", cursive;
}
