body {
	background: black;
	color: white;
	dipslay: flex;
	justify-content: center;
	align-items: center;
}

.top-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	position: relative;
}

.menu-button {
	position: absolute;
	top: 10px;
	left: 10px;
}

.main-header {
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-text: center;
	border: 1px solid white;
	border-radius: 8px
}

.main-header h1 {
	border: 1px solid white;
	font-size: 65px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    0 2px 0 red,
	    0 4px 0 red,
	    3px 6px 3px red,
	    0 6px 10px rgba(0,0,0,1);
	animation: float 3s ease-in-out infinite;
}

@keyframes float{
	0%, 100% {transform: translateY(2.5px);}
	50% { transform: translateY(-2.5px);}
 }

.sub-header {
	display: flex;
	justify-content: center;
	border: 1px solid white;
	padding: 8px;
	border-radius: 16px;
}

.sub-header h2 {
	margin: 16px;
	font-size: 25px;
	font-weight: 850;
	color: gold;
	text-shadow:
	    0 1px 0 red,
	    0 2px 0 red,
	    0 3px 0 red,
	    0 6px 10px rgba(0,0,0,1);

	animation: float 3s ease-in-out infinite;
}

.personal-projects-section {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.personal-projects-section h1 {
	font-size: 50px;
	font-weight: 700px;
	color: white;
}

.project0 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.project1 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.project2 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.social-media-section {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}

.social-media-section h1 {
	font-size: 50px;
	font-weight: 700px;
	color: white
}

.socials0 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px
}

.socials1 {
	border: 1px solid #ccc;
	padding: 8px;
	border-radius: 8px;
}


